.hero {
  background-color: $primary-red;

  &__title {
    color: $text-gray;

    @mixin atSmall {
      color: $text-white;
    }

    @mixin atMedium {
      color: $text-white;
    }

    @mixin atLarge {
      color: $text-white;
    }
  }

  &__description {
    color: $text-gray;
    @mixin atSmall {
      color: $text-white;
    }

    @mixin atMedium {
      color: $text-white;
    }

    @mixin atLarge {
      color: $text-white;
    }
  }
}
